body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
:link,
:visited {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  font-size: 1em;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
}
a img,
:link img,
:visited img {
  border: none;
}
address {
  font-style: normal;
}
img {
  vertical-align: top;
}
@font-face {
  font-family: 'Knockout-jr';
  src: url("../fonts/content/Knockout-HTF29-JuniorLiteweight.eot");
  src: url("../fonts/content/Knockout-HTF29-JuniorLiteweight.eot?#iefix") format('embedded-opentype'), url("../fonts/content/Knockout-HTF29-JuniorLiteweight.woff") format('woff'), url("../fonts/content/Knockout-HTF29-JuniorLiteweight.ttf") format('truetype'), url("../fonts/content/Knockout-HTF29-JuniorLiteweight.svg#../fonts/content/Knockout-HTF29-JuniorLiteweight") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Knockout-full';
  src: url("../fonts/content/Knockout-HTF69-FullLiteweight.eot");
  src: url("../fonts/content/Knockout-HTF69-FullLiteweight.eot?#iefix") format('embedded-opentype'), url("../fonts/content/Knockout-HTF69-FullLiteweight.woff") format('woff'), url("../fonts/content/Knockout-HTF69-FullLiteweight.ttf") format('truetype'), url("../fonts/content/Knockout-HTF69-FullLiteweight.svg#../fonts/content/Knockout-HTF69-FullLiteweight") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-medium';
  src: url("../fonts/content/GothamMedium.eot");
  src: url("../fonts/content/GothamMedium.eot?#iefix") format('embedded-opentype'), url("../fonts/content/GothamMedium.woff") format('woff'), url("../fonts/content/GothamMedium.ttf") format('truetype'), url("../fonts/content/GothamMedium.svg#../fonts/content/GothamMedium") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-italic';
  src: url("../fonts/content/GothamBold-Italic.eot");
  src: url("../fonts/content/GothamBold-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/content/GothamBold-Italic.woff") format('woff'), url("../fonts/content/GothamBold-Italic.ttf") format('truetype'), url("../fonts/content/GothamBold-Italic.svg#../fonts/content/GothamBold-Italic") format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham-book';
  src: url("../fonts/content/GothamHTF-Book.eot");
  src: url("../fonts/content/GothamHTF-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/content/GothamHTF-Book.woff") format('woff'), url("../fonts/content/GothamHTF-Book.ttf") format('truetype'), url("../fonts/content/GothamHTF-Book.svg#../fonts/content/GothamHTF-Book") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/content/Gotham-Book.eot");
  src: url("../fonts/content/Gotham-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/content/Gotham-Book.woff") format('woff'), url("../fonts/content/Gotham-Book.ttf") format('truetype'), url("../fonts/content/Gotham-Book.svg#../fonts/content/Gotham-Book") format('svg');
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 35px;
  font-family: 'Lato', sans-serif;
}
h1 {
  text-transform: uppercase;
}
.block {
  display: block;
}
.pad-25 {
  padding-top: 25px;
}
@media only screen and (max-width: 915px) {
  .pad-25 {
    padding-top: 15px;
  }
}
.selector {
  box-sizing: border-box;
}
@media only screen and (max-width: 915px) {
  .mobile-block {
    display: block;
  }
}
h1:before,
h2:before,
h3:before,
h4:before,
p:before,
li:before,
span:before,
a:before {
  font-family: Arial, sans-serif;
  content: '';
  line-height: 0;
}
.generic__container {
  max-width: 1028px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 916px) and (max-width: 1024px), only screen and (max-width: 915px) {
  .generic__container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.main__header {
  background: #45b9b9;
  padding: 47px 0;
}
@media only screen and (max-width: 915px) {
  .main__header {
    padding: 22px 0;
  }
}
.main__header__title {
  height: 60px;
  background: url("../img/defaults/listerine-logo.svg") no-repeat;
  background-position: 20px center;
  background-size: auto 100%;
  text-indent: -99999px;
}
@media only screen and (max-width: 915px) {
  .main__header__title {
    height: 24px;
    background-position: center;
  }
}
.page__title {
  text-transform: uppercase;
  font-size: 66.73px;
  color: #25a5c3;
  font-family: 'Knockout-full';
  line-height: 90px;
  overflow: hidden;
  padding: 0;
}
@media all and (max-width: 900px) {
  .page__title {
    line-height: 0px;
    padding: 40px 0 0 0;
  }
  .page__title:first-line {
    line-height: 20px;
  }
}
.page__title__holder {
  padding: 40px 0px 35px;
}
.page__title {
  line-height: 50px;
}
@media all and (max-width: 650px) {
  .page__title .selective__block {
    display: block;
  }
}
@media only screen and (max-width: 915px) {
  .page__title__holder {
    padding: 20px 0 0px;
  }
  .page__title {
    height: auto;
    line-height: 87px;
    padding: 24px 0 0px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
  }
  .mobile-block {
    display: block;
    line-height: 10px;
  }
}
@media all and (max-width: 500px) {
  .page__title__holder,
  .page__title {
    font-size: 37.5px;
    line-height: 43px;
  }
}
.main__footer {
  margin-top: 25px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 915px) {
  .main__footer {
    margin-top: 0;
  }
}
.main__footer__legal__text {
  font-family: 'Gotham';
  border-top: 1px solid #ddd;
  text-align: center;
  padding-top: 30px;
  font-size: 10px;
  line-height: 12px;
  color: #898989;
}
.main__footer__legal__text sup {
  font-size: 7px;
  line-height: 7px;
}
@media only screen and (max-width: 915px) {
  .main__footer__legal__text {
    border-top: none;
  }
}
.main__footer__nav {
  display: none;
  background: #45b9b9;
}
@media only screen and (max-width: 915px) {
  .main__footer__nav {
    display: block;
  }
}
.main__footer__link {
  color: #fff;
  display: block;
  position: relative;
  width: 113px;
  font-family: arial;
  font-size: 16px;
  line-height: 35px;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 15px;
}
.main__footer__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -3px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #fff;
}
/** 
 * Please add modules in a alphabetical order
 */
.guide__steps__container {
  position: relative;
  padding-right: 350px;
}
@media only screen and (min-width: 916px) and (max-width: 1024px) {
  .guide__steps__container {
    padding-right: 34.2vw;
  }
}
@media only screen and (max-width: 915px) {
  .guide__steps__container {
    padding-right: 0;
  }
}
.guide__steps__header {
  background: #75cde2;
  overflow: hidden;
  padding: 33px 0 28px 57px;
}
@media only screen and (min-width: 916px) and (max-width: 1024px) {
  .guide__steps__header {
    padding-left: 5.5vw;
  }
}
@media only screen and (max-width: 915px) {
  .guide__steps__header {
    padding: 15px 0 0 24px;
    height: 45px;
  }
}
.guide__steps__title {
  height: 65px;
  width: 286px;
  background: url("../img/defaults/listerine-logo.svg") left center no-repeat;
  background-size: auto 43px;
  text-indent: -9999px;
  border-right: 2px solid #fff;
  float: left;
}
@media only screen and (max-width: 915px) {
  .guide__steps__title {
    background-size: auto 20px;
    width: 129px;
    height: 30px;
  }
}
.guide__steps__subtitle {
  float: left;
  line-height: 72px;
  padding-left: 35px;
  color: #fff;
  font-size: 24.75px;
  height: 65px;
  font-family: 'Gotham-italic';
  font-style: italic;
  text-transform: uppercase;
}
@media only screen and (min-width: 916px) and (max-width: 1024px) {
  .guide__steps__subtitle {
    padding-left: 3.4vw;
  }
}
@media only screen and (max-width: 915px) {
  .guide__steps__subtitle {
    line-height: 30px;
    font-size: 14px;
    padding-left: 17px;
  }
}
.guide__steps {
  background-color: #19a0c0;
}
.guide__steps__sub {
  font-family: 'Knockout-full';
  color: #fff;
  font-size: 64.9px;
  line-height: 40px;
  padding: 83px 0 46px 50px;
}
@media only screen and (max-width: 915px) {
  .guide__steps__sub {
    padding-left: 20px;
  }
}
@media all and (max-width: 600px) {
  .guide__steps__sub {
    font-size: 10vw;
  }
}
.guide__steps__image {
  width: 227px;
  height: auto;
  margin-left: 88px;
}
@media only screen and (min-width: 916px) and (max-width: 1024px) {
  .guide__steps__image {
    margin-left: 8.7vw;
  }
}
@media all and (max-width: 600px) {
  .guide__steps__image {
    width: 38vw;
    margin-left: 15vw;
  }
}
.guide__steps__step {
  color: #fff;
  font-family: 'Gotham-italic';
  font-style: italic;
  font-size: 20px;
  position: relative;
  padding-left: 43px;
  position: absolute;
}
@media all and (max-width: 600px) {
  .guide__steps__step {
    font-size: 3.4vw;
    line-height: 3.2vw;
    padding-left: 7vw;
  }
}
.guide__steps__step .text {
  display: table-cell;
  vertical-align: middle;
  height: 57px;
}
.guide__steps__step .number {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  line-height: 61px;
  font-family: 'Gotham-italic';
  font-size: 54.51px;
  font-weight: bold;
}
@media all and (max-width: 600px) {
  .guide__steps__step .number {
    font-size: 8vw;
  }
}
.guide__steps__list {
  position: relative;
}
.step1 {
  top: 30px;
  left: 240px;
}
@media all and (max-width: 600px) {
  .step1 {
    top: 2.5vw;
    left: 40vw;
  }
}
.step2 {
  top: 269px;
  left: 343px;
}
@media all and (max-width: 600px) {
  .step2 {
    top: 42.5vw;
    left: 57vw;
  }
}
.step3 {
  top: 500px;
  left: 244px;
}
@media all and (max-width: 600px) {
  .step3 {
    top: 81vw;
    left: 42vw;
  }
}
.step4 {
  top: 704px;
  left: 338px;
}
@media all and (max-width: 600px) {
  .step4 {
    top: 115vw;
    left: 56vw;
  }
}
.guide__steps__section__texts {
  padding-left: 50px;
}
@media only screen and (max-width: 915px) {
  .guide__steps__section__texts {
    padding-left: 17px;
  }
}
.guide__steps__section__title {
  font-family: 'Knockout-full';
  font-size: 78.84px;
  color: #fff;
  padding-top: 40px;
  line-height: 5px;
}
@media all and (max-width: 700px) {
  .guide__steps__section__title {
    font-size: 11.25vw;
    line-height: 0.75vw;
    padding-top: 6vw;
  }
}
.guide__congrats,
.guide__options {
  color: #fff;
  padding-top: 15px;
  font-family: 'Knockout-full';
  font-size: 47.3px;
  line-height: 35px;
}
@media all and (max-width: 700px) {
  .guide__congrats,
  .guide__options {
    font-size: 6.8vw;
    line-height: 5vw;
  }
}
.guide__congrats {
  padding-top: 25px;
}
.guide__option:nth-child(odd) {
  color: #80d0e7;
}
.guide__legal {
  font-size: 14.44px;
  font-family: 'Gotham-book';
  font-style: italic;
  color: #fff;
  line-height: 16px;
  padding: 9px 20px 27px 0;
}
@media only screen and (max-width: 915px) {
  .guide__legal {
    font-size: 8px;
    line-height: 10px;
  }
}
.banner__container {
  min-height: 277px;
  box-sizing: border-box;
}
.banner__container.left {
  float: left;
}
.banner__container.right {
  float: right;
}
.banner__container.half {
  width: 50%;
}
@media only screen and (max-width: 915px) {
  .banner__container.half {
    width: 100%;
  }
}
.banner__container.third {
  width: 33.33%;
}
.banner__container.green .banner {
  background-color: #47c48e;
}
.banner__container.green .light {
  color: #86eabc;
}
.banner__container.cyan .banner {
  background-color: #25a5c3;
}
.banner__container.cyan .light {
  color: #80d0e7;
}
.banner__container.purple .banner {
  background-color: #6358a4;
}
.banner__container.purple .light {
  color: #958ddd;
}
.banner__container.half.left {
  padding-right: 9px;
}
@media only screen and (max-width: 915px) {
  .banner__container.half.left {
    padding: 0;
  }
}
.banner__container.half.right {
  padding-left: 9px;
}
@media only screen and (max-width: 915px) {
  .banner__container.half.right {
    margin-top: 15px;
    padding: 0;
  }
}
.banner {
  width: 100%;
  height: 100%;
  min-height: 277px;
  position: relative;
  box-sizing: border-box;
}
.banner__title,
.banner__subtitle {
  font-family: 'Knockout-full';
  text-transform: uppercase;
  line-height: 40px;
  min-height: 20px;
  color: #fff;
}
.banner__text1,
.banner__text2 {
  display: block;
}
.banner__copy {
  font-family: 'Gotham-book';
  font-size: 15.5px;
  line-height: 20px;
}
.banner__cta {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.2);
  color: #fff;
  transition: background 0.3s;
  padding: 0 65px 0 35px;
  box-sizing: border-box;
  font-family: 'Gotham-medium';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;
}
.banner__cta:after {
  font-weight: bold;
  content: '>';
  display: block;
  width: 40px;
  height: 40px;
  line-height: 42px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -20px;
  text-align: center;
}
.banner__cta:hover {
  background: rgba(0,0,0,0.5);
}
.banner__cta__text {
  padding-top: 5px;
  height: 60px;
  vertical-align: middle;
  display: table-cell;
}
.quiz .banner {
  min-height: 310px;
  padding: 13px 25px;
}
@media only screen and (max-width: 915px) {
  .quiz .banner {
    padding: 20px 0 34px 20px;
  }
}
.quiz .banner__title {
  font-size: 46.2px;
  line-height: 34px;
}
@media only screen and (max-width: 915px) {
  .quiz .banner__title {
    font-size: 45px;
    margin-top: 5px;
  }
}
.banner__subtitle {
  font-size: 25.67px;
  line-height: 33px;
}
.banner__button {
  display: block;
  width: 160px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.4);
  font-family: 'Knockout-full';
  font-size: 36.6px;
  line-height: 50px;
  margin-bottom: 5px;
  transition: background 0.3s;
}
.banner__button:hover {
  background: rgba(0,0,0,0.6);
}
@media only screen and (max-width: 915px) {
  .banner__button {
    width: 176px;
    margin-top: 3px;
    margin-bottom: 15px;
  }
}
.answers {
  display: none;
}
.answered .banner__button {
  display: none;
}
.answered .answers {
  display: block;
}
@media only screen and (max-width: 915px) {
  .answered .answers {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 915px) {
  .answered .banner__subtitle {
    display: none;
  }
  .answered .banner__title {
    margin-top: 13px;
  }
}
.banner__answer__title {
  font-size: 27.57px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Knockout-full';
  line-height: 22px;
}
@media only screen and (max-width: 915px) {
  .banner__answer__title {
    font-size: 39px;
  }
}
.banner__answer__title.low {
  padding-top: 15px;
}
@media only screen and (max-width: 915px) {
  .banner__answer__title.low {
    padding-top: 31px;
  }
}
.extra__text {
  visibility: hidden;
}
.extra__text.visible {
  visibility: visible;
}
@media only screen and (max-width: 915px) {
  .extra__text {
    font-size: 17px;
    display: inline-block;
    line-height: 17px;
    max-width: 150px;
  }
}
.banner__bar__container {
  width: 100%;
  box-sizing: border-box;
  padding-right: 45px;
  margin-top: 10px;
}
@media only screen and (max-width: 915px) {
  .banner__bar__container {
    padding-right: 60px;
  }
}
.banner__bar {
  width: 1%;
  height: 40px;
  background: rgba(0,0,0,0.5);
  position: relative;
  margin-top: -7px;
}
.banner__quiz__value {
  display: block;
  width: 45px;
  height: 40px;
  font-family: 'Knockout-full';
  color: #fff;
  font-size: 27.57px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  right: -45px;
}
@media only screen and (max-width: 915px) {
  .banner__quiz__value {
    width: 60px;
    right: -60px;
    line-height: 40px;
    font-size: 39px;
  }
}
.video-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 246px;
  height: 100%;
}
.video-side .banner__image {
  width: auto;
  height: 46%;
  margin: 0 auto;
  display: block;
  padding: 46px 0 0 0;
}
@media only screen and (max-width: 915px) {
  .video-side .banner__image {
    width: 60%;
    max-width: 350px;
    height: auto;
    padding: 30px 0 0 0;
  }
}
.video-side .banner__title {
  font-size: 49.33px;
  line-height: 35.93px;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 915px) {
  .video-side .banner__title {
    font-size: 35px;
  }
  .video-side .banner__title .block {
    display: inline;
  }
}
@media only screen and (max-width: 915px) {
  .video-side {
    margin-top: 15px;
    position: static;
    height: auto;
    width: 100%;
  }
  .video-side .banner {
    padding-bottom: 62px;
  }
}
.banner__custom__mid__container {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 915px) {
  .banner__custom__mid__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.banner__custom__mid {
  padding-right: 347px;
  position: relative;
}
@media only screen and (max-width: 915px) {
  .banner__custom__mid {
    padding-right: 0;
  }
}
.custom__mid__white {
  height: 280px;
  border: 1px solid #a1a1a1;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.custom__mid__white .banner__title {
  background: url("../img/content/study-icon.jpg") center no-repeat;
  padding-top: 0;
  float: left;
  font-size: 56px;
  margin: 0px 6.5% 0 8.7%;
  color: #25a5c3;
  text-align: center;
  text-indent: -9999px;
  width: 190px;
  height: 100%;
}
.custom__mid__white .banner__copy {
  height: 278px;
  vertical-align: middle;
  display: table-cell;
  padding-right: 9%;
  color: #737373;
}
@media only screen and (max-width: 915px) {
  .custom__mid__white {
    height: auto;
  }
  .custom__mid__white .banner__title {
    max-width: 500px;
    margin: 0 auto 0;
    float: none;
    font-size: 37.5px;
    padding-top: 153px;
    background-size: 133px auto;
  }
  .custom__mid__white .banner__copy {
    display: block;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding: 0 20px 32px;
    font-size: 13px;
  }
}
.custom__mid__green {
  position: absolute;
  top: 0;
  right: 0;
  width: 334px;
  height: 280px;
}
@media only screen and (max-width: 915px) {
  .custom__mid__green .banner {
    padding-bottom: 66px;
  }
}
.custom__mid__green .banner__title {
  font-size: 33.37px;
  line-height: 24.36px;
  float: left;
  margin-top: 86px;
}
@media all and (min-width: 501px) and (max-width: 915px) {
  .custom__mid__green .banner__title {
    font-size: 63.37px;
    line-height: 46.36px;
  }
}
@media only screen and (max-width: 915px) {
  .custom__mid__green .banner__title {
    float: none;
    margin: 0;
    text-align: center;
    padding: 0 0 10px 0;
  }
}
.custom__mid__green .banner__image {
  width: 74px;
  height: auto;
  float: left;
  margin: 25px 16px 0 20px;
}
@media only screen and (max-width: 915px) {
  .custom__mid__green .banner__image {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 12px 0 0;
  }
}
@media all and (min-width: 501px) and (max-width: 915px) {
  .custom__mid__green .banner__image {
    width: 104px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 915px) {
  .custom__mid__green {
    margin-top: 15px;
    position: static;
    width: 100%;
    height: auto;
  }
}
.long__up,
.long__down {
  overflow: hidden;
  position: relative;
}
.long__up .banner__title,
.long__down .banner__title {
  font-size: 92.4px;
  line-height: 67.45px;
}
.long__up .banner {
  padding-left: 280px;
}
.long__up .banner__image {
  position: absolute;
  top: 19px;
  left: 40px;
  width: 200px;
  height: auto;
}
@media only screen and (max-width: 915px) {
  .long__up .banner__image {
    width: 200px;
    padding: 30px 0 15px;
  }
}
.long__up .banner__title {
  padding-top: 50px;
}
@media only screen and (max-width: 915px) {
  .long__up .banner__title {
    padding: 0 0 20px;
  }
}
.long__up.guide_low {
  margin-top: 30px;
}
.long__up.guide_low .banner__title {
  font-size: 54.15px;
  line-height: 40px;
  padding-top: 100px;
}
@media all and (min-width: 916px) and (max-width: 1000px) {
  .long__up.guide_low .banner__title {
    font-size: 44.15px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 915px) {
  .long__up.guide_low {
    margin-top: 15px;
  }
}
.long__down .banner {
  padding-left: 220px;
  padding-bottom: 40px;
}
.long__down .banner__image {
  position: absolute;
  top: 14px;
  left: 87px;
  width: 80px;
  height: auto;
}
@media only screen and (max-width: 915px) {
  .long__down .banner__image {
    padding: 30px 0 15px;
  }
}
.long__down .banner__title {
  padding-top: 50px;
}
@media only screen and (max-width: 915px) {
  .long__down .banner__title {
    padding: 0 0 20px;
  }
}
@media only screen and (max-width: 915px) {
  .long__up .banner,
  .long__up.guide_low .banner,
  .long__down .banner {
    padding-left: 0;
    padding-bottom: 70px;
  }
  .long__up .banner__image,
  .long__up.guide_low .banner__image,
  .long__down .banner__image {
    position: static;
    display: block;
    margin: 0 auto;
  }
  .long__up .banner__title,
  .long__up.guide_low .banner__title,
  .long__down .banner__title {
    text-align: center;
    font-size: 37.5px;
    line-height: 28px;
    padding-top: 20px;
  }
}
.guide__banner {
  width: 330px;
  height: 654px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/guide/guide-banner.jpg") center top no-repeat;
  background-size: auto 100%;
}
.guide__banner .banner__title {
  position: absolute;
  bottom: 146px;
  left: 20px;
}
@media only screen and (max-width: 915px) {
  .guide__banner .banner__title {
    bottom: 86px;
  }
}
@media all and (max-width: 500px) {
  .guide__banner .banner__title {
    bottom: 68px;
  }
}
.guide__banner .banner__text1 {
  font-size: 55px;
}
@media all and (max-width: 500px) {
  .guide__banner .banner__text1 {
    font-size: 41.6px;
    line-height: 30px;
  }
}
.guide__banner .banner__text2 {
  font-size: 32px;
  line-height: 25px;
  margin-top: -7px;
  padding-top: 7px;
}
@media all and (max-width: 500px) {
  .guide__banner .banner__text2 {
    font-size: 23px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 916px) and (max-width: 1024px) {
  .guide__banner {
    width: 32.2vw;
  }
}
@media only screen and (max-width: 915px) {
  .guide__banner {
    position: static;
    width: 100%;
    margin-top: 15px;
    background-position: 60% 97%;
    background-size: auto 105%;
    height: 612px;
  }
}
@media all and (max-width: 500px) {
  .guide__banner {
    height: 354px;
  }
}
@media all and (min-width: 501px) and (max-width: 915px) {
  .long__up .banner__title,
  .long__up.guide_low .banner__title,
  .long__down .banner__title {
    text-align: center;
    font-size: 63.37px;
    line-height: 46.36px;
  }
  .long__up .banner,
  .long__up.guide_low .banner,
  .long__down .banner {
    padding-bottom: 60px;
  }
  .long__up .banner__image {
    width: 300px;
  }
  .long__down .banner__image {
    width: 150px;
  }
}
.guide__header__container {
  padding: 50px 0 64px;
  max-width: 725px;
}
@media only screen and (max-width: 915px) {
  .guide__header__container {
    padding: 40px 0 42px 0;
  }
}
.guide__header__title {
  font-size: 41.25px;
  font-family: 'Gotham-italic';
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 34px;
}
@media only screen and (max-width: 915px) {
  .guide__header__title {
    font-size: 23px;
    line-height: 26px;
    padding-bottom: 7px;
  }
}
.guide__header__copy {
  font-size: 16px;
  font-family: 'Gotham-book';
}
.guide__header__copy sup {
  font-size: 8.5px;
  line-height: 9px;
}
.guide__header__copy .block {
  padding-top: 23px;
}
@media only screen and (max-width: 915px) {
  .guide__header__copy {
    font-size: 14px;
    line-height: 27px;
  }
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
:link,
:visited {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  font-size: 1em;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
  margin: 0;
  padding: 0;
}
a img,
:link img,
:visited img {
  border: none;
}
address {
  font-style: normal;
}
img {
  vertical-align: top;
}
@font-face {
  font-family: 'Knockout-jr';
  src: url("../fonts/content/Knockout-HTF29-JuniorLiteweight.eot");
  src: url("../fonts/content/Knockout-HTF29-JuniorLiteweight.eot?#iefix") format('embedded-opentype'), url("../fonts/content/Knockout-HTF29-JuniorLiteweight.woff") format('woff'), url("../fonts/content/Knockout-HTF29-JuniorLiteweight.ttf") format('truetype'), url("../fonts/content/Knockout-HTF29-JuniorLiteweight.svg#../fonts/content/Knockout-HTF29-JuniorLiteweight") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Knockout-full';
  src: url("../fonts/content/Knockout-HTF69-FullLiteweight.eot");
  src: url("../fonts/content/Knockout-HTF69-FullLiteweight.eot?#iefix") format('embedded-opentype'), url("../fonts/content/Knockout-HTF69-FullLiteweight.woff") format('woff'), url("../fonts/content/Knockout-HTF69-FullLiteweight.ttf") format('truetype'), url("../fonts/content/Knockout-HTF69-FullLiteweight.svg#../fonts/content/Knockout-HTF69-FullLiteweight") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-medium';
  src: url("../fonts/content/GothamMedium.eot");
  src: url("../fonts/content/GothamMedium.eot?#iefix") format('embedded-opentype'), url("../fonts/content/GothamMedium.woff") format('woff'), url("../fonts/content/GothamMedium.ttf") format('truetype'), url("../fonts/content/GothamMedium.svg#../fonts/content/GothamMedium") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-italic';
  src: url("../fonts/content/GothamBold-Italic.eot");
  src: url("../fonts/content/GothamBold-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/content/GothamBold-Italic.woff") format('woff'), url("../fonts/content/GothamBold-Italic.ttf") format('truetype'), url("../fonts/content/GothamBold-Italic.svg#../fonts/content/GothamBold-Italic") format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham-book';
  src: url("../fonts/content/GothamHTF-Book.eot");
  src: url("../fonts/content/GothamHTF-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/content/GothamHTF-Book.woff") format('woff'), url("../fonts/content/GothamHTF-Book.ttf") format('truetype'), url("../fonts/content/GothamHTF-Book.svg#../fonts/content/GothamHTF-Book") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/content/Gotham-Book.eot");
  src: url("../fonts/content/Gotham-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/content/Gotham-Book.woff") format('woff'), url("../fonts/content/Gotham-Book.ttf") format('truetype'), url("../fonts/content/Gotham-Book.svg#../fonts/content/Gotham-Book") format('svg');
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 35px;
  font-family: 'Lato', sans-serif;
}
h1 {
  text-transform: uppercase;
}
.block {
  display: block;
}
.pad-25 {
  padding-top: 25px;
}
@media only screen and (max-width: 915px) {
  .pad-25 {
    padding-top: 15px;
  }
}
.selector {
  box-sizing: border-box;
}
@media only screen and (max-width: 915px) {
  .mobile-block {
    display: block;
  }
}
h1:before,
h2:before,
h3:before,
h4:before,
p:before,
li:before,
span:before,
a:before {
  font-family: Arial, sans-serif;
  content: '';
  line-height: 0;
}
.generic__container {
  max-width: 1028px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 916px) and (max-width: 1024px), only screen and (max-width: 915px) {
  .generic__container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.main__header {
  background: #45b9b9;
  padding: 47px 0;
}
@media only screen and (max-width: 915px) {
  .main__header {
    padding: 22px 0;
  }
}
.main__header__title {
  height: 60px;
  background: url("../img/defaults/listerine-logo.svg") no-repeat;
  background-position: 20px center;
  background-size: auto 100%;
  text-indent: -99999px;
}
@media only screen and (max-width: 915px) {
  .main__header__title {
    height: 24px;
    background-position: center;
  }
}
.page__title {
  text-transform: uppercase;
  font-size: 66.73px;
  color: #25a5c3;
  font-family: 'Knockout-full';
  line-height: 90px;
  overflow: hidden;
  padding: 0;
}
@media all and (max-width: 900px) {
  .page__title {
    line-height: 0px;
    padding: 40px 0 0 0;
  }
  .page__title:first-line {
    line-height: 20px;
  }
}
.page__title__holder {
  padding: 40px 0px 35px;
}
.page__title {
  line-height: 50px;
}
@media all and (max-width: 650px) {
  .page__title .selective__block {
    display: block;
  }
}
@media only screen and (max-width: 915px) {
  .page__title__holder {
    padding: 20px 0 0px;
  }
  .page__title {
    height: auto;
    line-height: 87px;
    padding: 24px 0 0px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
  }
  .mobile-block {
    display: block;
    line-height: 10px;
  }
}
@media all and (max-width: 500px) {
  .page__title__holder,
  .page__title {
    font-size: 37.5px;
    line-height: 43px;
  }
}
.main__footer {
  margin-top: 25px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 915px) {
  .main__footer {
    margin-top: 0;
  }
}
.main__footer__legal__text {
  font-family: 'Gotham';
  border-top: 1px solid #ddd;
  text-align: center;
  padding-top: 30px;
  font-size: 10px;
  line-height: 12px;
  color: #898989;
}
.main__footer__legal__text sup {
  font-size: 7px;
  line-height: 7px;
}
@media only screen and (max-width: 915px) {
  .main__footer__legal__text {
    border-top: none;
  }
}
.main__footer__nav {
  display: none;
  background: #45b9b9;
}
@media only screen and (max-width: 915px) {
  .main__footer__nav {
    display: block;
  }
}
.main__footer__link {
  color: #fff;
  display: block;
  position: relative;
  width: 113px;
  font-family: arial;
  font-size: 16px;
  line-height: 35px;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 15px;
}
.main__footer__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -3px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #fff;
}
.mac .guide__congrats {
  padding-top: 25px;
}
.mac .guide__congrats {
  padding-top: 15px;
}
.mac .guide__banner .banner__text2 {
  padding-top: 0px;
}
.mac .banner__button {
  line-height: 74px;
}
.mac .banner__bar__container {
  margin-top: 0px;
}
.mac .banner__quiz__value {
  line-height: 60px;
}
@media only screen and (max-width: 915px) {
  .mac .banner__quiz__value {
    line-height: 67px;
  }
}
@media only screen and (max-width: 915px) {
  .mac .custom__mid__green .banner__title {
    padding: 20px 0 0 0;
  }
}
.mac .long__up .banner__title {
  padding-top: 74px;
}
.mac .long__down .banner__title {
  padding-top: 76px;
}
@media only screen and (max-width: 915px) {
  .mac .long__up .banner__title,
  .mac .long__down .banner__title {
    padding: 20px 0 0;
  }
}
.mac .slider__legal {
  padding-top: 0px;
}
@media only screen and (min-width: 916px) and (max-width: 1024px) {
  .mac .slider__legal {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 915px) {
  .mac .slider__legal {
    margin-top: 10px;
  }
}
.mac .slider__title {
  margin-bottom: -19px;
}
.mac .page__title__holder {
  padding: 53px 0 20px;
}
@media only screen and (max-width: 915px) {
  .mac .page__title__holder {
    padding: 10px 0 20px;
  }
}
.mac .page__title {
  line-height: 90px;
  padding: 0;
}
@media only screen and (max-width: 915px) {
  .mac .page__title {
    padding: 24px 0 0 0;
    margin-bottom: 0;
  }
}
@media all and (min-width: 886px) and (max-width: 915px) {
  .mac .page__title {
    padding-top: 40px;
  }
  .mac .page__title:first-line {
    line-height: 40px;
    padding: 100px 0 0 0;
  }
}
@media all and (max-width: 885px) {
  .mac .page__title {
    line-height: 0px;
    padding: 20px 0 0 0;
  }
  .mac .page__title:first-line {
    line-height: 77px;
  }
}
@media all and (min-width: 501px) and (max-width: 650px) {
  .mac .page__title:first-line {
    line-height: 50px;
  }
}
@media all and (max-width: 500px) {
  .mac .page__title {
    padding: 20px 0 0 0;
    line-height: 28px;
  }
  .mac .page__title:first-line {
    line-height: 30px;
  }
}
.mac .page__title__holder .selective__block {
  line-height: 20px;
}
@media only screen and (max-width: 915px) {
  .mac .page__title__holder .selective__block {
    line-height: 20px;
  }
}
.mac .video-side .banner__title {
  margin-top: 37px;
  padding-bottom: 0;
}
@media only screen and (max-width: 915px) {
  .mac .video-side .banner__title {
    margin-top: 30px;
  }
}
