//- -------------- Header ---------------- -//
//- -------------------------------------- -//

ul 
    li
        a(ui-sref='home') HomePage
    li
        a(ui-sref='teams') Teams

div
    input(type='text', ng-model='login.user', placeholder='User Name')
    br
    input(type='password', ng-model='login.pass', placeholder='Password')
    br
    button login
    a(ui-sref='signUp') Create an accout

