//- -------------- Header ---------------- -//
//- -------------------------------------- -//

- var upper = [{name: 'Home', url: '#/'}, {name: 'List', url: '#/list'}, {name: 'Add Teams', url: '#/add'}, {name: 'Contact Us', url: '#/contact'}]

header.main__header
    nav.main__header__holder
        ul.main__header__nav
            - for page in upper
                li.main__header__item
                    mixin basicLink(page.name, page.url, 'main__header__link')
