//- -------------- Header ---------------- -//
//- -------------------------------------- -//
nav.main__nav(ng-controller="NavigationController")
    ul.main__nav__list
        li.main__nav__item
            a.main__nav__link(ui-sref='home') HomePage
        li.main__nav__item(ng-show='loggedIn')
            a.main__nav__link(ui-sref='teams') Teams



    ul.head__login__list(ng-show='!loggedIn')
        li.head__login__item
            input.head__login__input(type='text', ng-model='login.user', placeholder='User Name')
            input.head__login__input(type='password', ng-model='login.pass', placeholder='Password')
        li.head__login__item
            button.head__login__button(ng-click='logUserIn()') Login
            a.head__login__link(ui-sref='signUp') Create Accout
        
    ul.head__profile__list(ng-show='loggedIn')
        li.head__profile__item
            h2.head__profile__user Hello {{navUserName}}
            a.head__profile__link(ui-sref='editProfile') Edit Profile
            a.head__profile__link(ng-click='logOut()') Logout

        li.head__profile__item.image__holder(ng-show='profileImage', style='background:url({{profileImage}}) center no-repeat; background-size:auto 100%')
            //-img.head__profile__image(ng-show='profileImage', src="{{profileImage}}")
