//- -------------- SAMPLE ---------------- -//
//- -------------------------------------- -//


//- JADE WITH MONGO
//- ul.teams__list
//-     for team in teams
//-         li.teams__item #{team['name']}


section(ng-app='cityApp', ng-view)
                
