div.cities
    h1 Add a new team
    
    input(type="text", ng-model="newTeam", placeholder="Team Name")
    input(type="button", value="Add", ng-click='addTeam()')
    br
    br

    h2 Add image
    
    input(type="file", ng-model="newImage", file-model="myFile", onchange="angular.element(this).scope().selectFile(this)")
    
    p(ng-model="uploadProgress")
    

    //-
        button(ng-model='upload') Upload 
        #[input(type="file", onchange="angular.element(this).scope().onFileSelect(this)")]
    
    //-img(ng-src="{{img_url}}")



    button(ng-click="uploadImage()") Upload your file

