div.cities
    h1 Add a new team
    
    input(type="text", ng-model="newTeam", placeholder="Team Name")
    input(type="button", value="Add", ng-click='addTeam()')
    br
    br

    h2 Add image

    form(action="/profile", method="post", enctype="multipart/form-data")
        input(type="file")
        input(type='submit', value='submit')

    //-
        input(type="file", ng-model="newImage", file-model="myFile", onchange="angular.element(this).scope().selectFile(this)")
        p(ng-model="uploadProgress")
    

    //-
        Upload image #[input(type="file", data-ng-file-select="onFileSelect($files)", accept="image/png, image/jpeg")]
        span(data-ng-if="uploadInProgress") Upload progress: {{ uploadProgress }}
        img(data-ng-src="uploadedImage", data-ng-if="uploadedImage")



