//- (ng-show='showContent')
div
    a(ui-sref='newteam', ng-show='globalUser.role === (roles[1] || roles[2])') Add New Team
    ul
        li(ng-repeat='team in myTeams') {{team.name}}
            img(ng-show='team.showImage', ng-src="{{team.showImage}}", width='100') 
            a(ng-show='globalUser.role === (roles[2] || roles[3])', ng-click="editTeam(team._id)") Edit Team info