a(ng-show='user.showImage', ng-click='cleanUser()') See All

div
    ul(ng-show='!user')
        li(ng-repeat='person in people') {{person.name || person.user}}
            img(ng-show='person.showImage', ng-src="{{person.showImage}}", width='100') 
            a(ng-click="showPerson(person)") See user info

div(ng-show='user')
    p Name
    p {{user.name}}

    p Team
    p {{user.team}}

    img(ng-show='user.showImage', ng-src="{{user.showImage}}", width='100') 