div

    div(class="button", ngf-select, ng-model="file", name="file", ngf-pattern="'image/*'", ngf-accept="'image/*'", ngf-max-size="20MB") Select

    img(ng-show='profile.imageShow || imageDefault', ng-src="{{profile.imageShow || imageDefault}}", width='200') 
    
    p First Name
    input(ng-model='profile.name')


    p Last Name
    input(ng-model='profile.lastName')

    p Screen Name
    input(ng-model='profile.user')

    p Email
    input(ng-model='profile.email')

    p Team
    select(ng-model='profile.team', ng-change="teamChange()")
        option(ng-repeat='team in teams') {{team.name}}

    p Position
    select(ng-model='profile.position')
        option(ng-repeat='position in positions') {{position}}

    p Employee ID
    input(ng-model='profile.empId')

    p Role
    p {{profile.role}}

    button.submit__button(ng-click='update()') Update