div(ng-show='showContent')
    p User Name
    input(ng-model='profile.user')

    p Email
    input(ng-model='profile.email')

    p Team
    input(ng-model='profile.team')

    p Employee ID
    input(ng-model='profile.empId')

    p Position
    input(ng-model='profile.position')

    button(ng-click='update()') Update