// ----------------------------- //
// ------------ FONTS ---------- //
// ----------------------------- //

@font-face {
    font-family: 'Knockout-jr';
    src: url('../fonts/content/Knockout-HTF29-JuniorLiteweight.eot');
    src: url('../fonts/content/Knockout-HTF29-JuniorLiteweight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/content/Knockout-HTF29-JuniorLiteweight.woff') format('woff'),
        url('../fonts/content/Knockout-HTF29-JuniorLiteweight.ttf') format('truetype'),
        url('../fonts/content/Knockout-HTF29-JuniorLiteweight.svg#../fonts/content/Knockout-HTF29-JuniorLiteweight') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout-full';
    src: url('../fonts/content/Knockout-HTF69-FullLiteweight.eot');
    src: url('../fonts/content/Knockout-HTF69-FullLiteweight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/content/Knockout-HTF69-FullLiteweight.woff') format('woff'),
        url('../fonts/content/Knockout-HTF69-FullLiteweight.ttf') format('truetype'),
        url('../fonts/content/Knockout-HTF69-FullLiteweight.svg#../fonts/content/Knockout-HTF69-FullLiteweight') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-medium';
    src: url('../fonts/content/GothamMedium.eot');
    src: url('../fonts/content/GothamMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/content/GothamMedium.woff') format('woff'),
        url('../fonts/content/GothamMedium.ttf') format('truetype'),
        url('../fonts/content/GothamMedium.svg#../fonts/content/GothamMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-italic';
    src: url('../fonts/content/GothamBold-Italic.eot');
    src: url('../fonts/content/GothamBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/content/GothamBold-Italic.woff') format('woff'),
        url('../fonts/content/GothamBold-Italic.ttf') format('truetype'),
        url('../fonts/content/GothamBold-Italic.svg#../fonts/content/GothamBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham-book';
    src: url('../fonts/content/GothamHTF-Book.eot');
    src: url('../fonts/content/GothamHTF-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/content/GothamHTF-Book.woff') format('woff'),
        url('../fonts/content/GothamHTF-Book.ttf') format('truetype'),
        url('../fonts/content/GothamHTF-Book.svg#../fonts/content/GothamHTF-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/content/Gotham-Book.eot');
    src: url('../fonts/content/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/content/Gotham-Book.woff') format('woff'),
        url('../fonts/content/Gotham-Book.ttf') format('truetype'),
        url('../fonts/content/Gotham-Book.svg#../fonts/content/Gotham-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

