// ---------------------------------------- //
// ------------ GENERIC CONTENTS ---------- //
// ---------------------------------------- //

body
    font-family $font-normal

*
    outline none

h1, 
h2,
h3,
h4,
h5,
h6
    font-size 35px

h1 
    text-transform uppercase
    
.block
    display block 
    
.box
    box-sizing border-box

+for_breakpoint(mobile)
    .mobile-block
        display block