// ---------------------------------------- //
// ------------ GENERIC CONTENTS ---------- //
// ---------------------------------------- //

body
    font-family $font-normal

*
    outline none

h1, 
h2,
h3,
h4,
h5,
h6
    font-size 35px

h1 
    text-transform uppercase
    
.block
    display block 
    
.box
    box-sizing border-box

+for_breakpoint(mobile)
    .mobile-block
        display block
        

input, 
textarea,
button 
    display block

input,
textarea
    box-sizing border-box
    min-width 150px
    height 24px
    line-height 24px
    font-size 14px
    border 1px solid $lightGray
    border-radius 30px
    padding 0 10px
    margin-bottom 10px
    
    &:focus
        border-color $green
        
textarea
    border-radius 10px
    min-width 350px
    min-height 200px
        
.submit__button
    box-sizing border-box
    color $white
    width 100%
    max-width 200px
    background-color $cyan
    border 1px solid $darkCyan
    border-radius 30px
    line-height 18px
    height 24px
    text-align center
    text-transform uppercase
    margin-bottom 10px
    
    &:hover,
    &:focus
        background-color $magenta
        border-color $purple
        






