// ---------------------------------------- //
// -------------- GENERIC GRID ------------ //
// ---------------------------------------- //

.generic__container
    max-width $size-desktop-max
    margin 0 auto
    overflow hidden
    padding-left 20px
    padding-right 20px
    
    +for_breakpoint(tablet mobile)
        padding-left 12px
        padding-right 12px