/* GLOBAL VARIABLES */

$size-desktop-max   = 1028px // 1200px
$size-desktop-min   = 1025px
$size-tablet-max    = 1024px
$size-tablet-min    = 916px // 769
$size-mobile-max    = 915px // 768
$size-mobile-min    = 320px


/* COLOR VARIABLES */
$cyan           = #11b6e0
$darkCyan       = #00718E
$orange         = #f79622
$green          = #8ec642
$magenta        = #b5208e
$darkMagenta    = #982347
$purple         = #573189
$darkOrange     = #d46c29
$red            = #ef4323
$darkGreen      = #0f9562

/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000
$gray           = #898989
$lightGray      = #DFDFE0



/* FONTS */
$gotham-italic      = 'Gotham-italic'
$gotham-book        = 'Gotham-book'
$gotham-medium      = 'Gotham-medium'
$gotham             = 'Gotham'
$knockout-jr        = 'Knockout-jr'
$knockout-full      = 'Knockout-full'
$font-normal        = 'Lato', sans-serif
$font-wt-light      = 300
$font-wt-regular    = 400
$font-wt-bold       = 700
$font-wt-extrabold  = 900


/* BRAKEPOINTS */
media_queries = {
    mobile  : "only screen and (max-width: "+ $size-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $size-tablet-min +") and (max-width: "+ $size-tablet-max +")",
    desktop : "only screen and (min-width: "+ $size-desktop-min +")"
}